:root {
	--z-index-max-overlay: 2000; 
	--main-0: rgb(255 255 255 / 100%);
	--main-50: rgb(249 250 251 / 100%);
	--main-100: rgb(245 247 250 / 100%);
	--main-900: rgb(0 0 0 / 100%);

	--text-500: rgb(0 17 34 / 95%);
	--text-300: rgb(0 17 34 / 66%);
	--text-200: rgb(0 17 34 / 56%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
