.form {
	display: flex;
	gap: 12px;
	flex-direction: column;
}

.bottomControls {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.map {
	height: calc(100vh - 190px - 50px);
}

.floorNameInput {
	margin-bottom: 10px;
}
