@font-face {
	font-family: 'oswald';
	src: url('/fonts/oswald.ttf') format('truetype');
}

.root {
	display: flex;
	justify-content: center;
}

.sceneContainer {
	margin-left: -80px;
}

.headerText {
	text-wrap: nowrap;
	align-self: center;
	font-family: 'oswald';
	font-size: 65px !important;
	margin-left: -40px;
}
